src/UF4AAD/DAOsobre/database.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="database" type="databaseType"/>
  <xs:complexType name="billsType">
    <xs:sequence>
      <xs:element type="billType" name="bill" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="databaseType">
    <xs:sequence>
      <xs:element type="clientsType" name="clients"/>
      <xs:element type="employeesType" name="employees"/>
      <xs:element type="billsType" name="bills"/>
      <xs:element type="catalogType" name="catalog"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="clientType">
    <xs:sequence>
      <xs:element type="xs:string" name="nif"/>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="surname"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="clientsType">
    <xs:sequence>
      <xs:element type="clientType" name="client" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="employeeType">
    <xs:sequence>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="surname"/>
      <xs:element type="xs:string" name="salary"/>
      <xs:element type="xs:string" name="years_worked"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="catalogType">
    <xs:sequence>
      <xs:element type="productType" name="product" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="billType">
    <xs:sequence>
      <xs:element type="xs:string" name="nif_client"/>
      <xs:element type="xs:string" name="id_product"/>
      <xs:element type="xs:string" name="price_each"/>
      <xs:element type="xs:string" name="price_total"/>
      <xs:element type="xs:string" name="iva"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="employeesType">
    <xs:sequence>
      <xs:element type="employeeType" name="employee" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productType">
    <xs:sequence>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="price"/>
      <xs:element type="xs:string" name="stock"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>