src/UF1AAD/ExamenUF1/planets.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SOLAR_SYSTEM" type="SOLAR_SYSTEMType"/>
  <xs:complexType name="PLANETSType">
    <xs:sequence>
      <xs:element type="PLANETType" name="PLANET" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SOLAR_SYSTEMType">
    <xs:sequence>
      <xs:element type="PLANETSType" name="PLANETS"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PLANETType">
    <xs:sequence>
      <xs:element name="NAME">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Mercury"/>
            <xs:enumeration value="Venus"/>
            <xs:enumeration value="Earth"/>
            <xs:enumeration value="Mars"/>
            <xs:enumeration value="Jupiter"/>
            <xs:enumeration value="Saturn"/>
            <xs:enumeration value="Uranus"/>
            <xs:enumeration value="Neptune"/>
            <xs:enumeration value="Pluto"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="DISTANCE">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="57.91"/>
            <xs:enumeration value="108.21"/>
            <xs:enumeration value="149.60"/>
            <xs:enumeration value="227.9"/>
            <xs:enumeration value="778.3"/>
            <xs:enumeration value="1428"/>
            <xs:enumeration value="2872"/>
            <xs:enumeration value="4498"/>
            <xs:enumeration value="5910"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="RADIUS">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="2340"/>
            <xs:enumeration value="6100"/>
            <xs:enumeration value="6371"/>
            <xs:enumeration value="3324"/>
            <xs:enumeration value="69750"/>
            <xs:enumeration value="58170"/>
            <xs:enumeration value="23750"/>
            <xs:enumeration value="22400"/>
            <xs:enumeration value="3000"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="LENGTH_OF_YEAR">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="0.24085"/>
            <xs:enumeration value="0.61521"/>
            <xs:enumeration value="1.000039"/>
            <xs:enumeration value="1.88089"/>
            <xs:enumeration value="11.8653"/>
            <xs:enumeration value="29.6501"/>
            <xs:enumeration value="83.7445"/>
            <xs:enumeration value="165.951"/>
            <xs:enumeration value="247.687"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="DAY">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="88"/>
            <xs:enumeration value="230"/>
            <xs:enumeration value="24"/>
            <xs:enumeration value="24.5"/>
            <xs:enumeration value="9.8"/>
            <xs:enumeration value="10.2"/>
            <xs:enumeration value="10.7"/>
            <xs:enumeration value="12.7"/>
            <xs:enumeration value="6.39"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="MASS">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="0.054"/>
            <xs:enumeration value="0.814"/>
            <xs:enumeration value="1.00"/>
            <xs:enumeration value="0.107"/>
            <xs:enumeration value="317.4"/>
            <xs:enumeration value="95.0"/>
            <xs:enumeration value="14.5"/>
            <xs:enumeration value="17.6"/>
            <xs:enumeration value="0.2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="DENSITY">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="6.03"/>
            <xs:enumeration value="5.11"/>
            <xs:enumeration value="5.517"/>
            <xs:enumeration value="4.16"/>
            <xs:enumeration value="1.34"/>
            <xs:enumeration value="0.68"/>
            <xs:enumeration value="1.55"/>
            <xs:enumeration value="2.23"/>
            <xs:enumeration value="5.2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="SATELLITES" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="63"/>
            <xs:enumeration value="61"/>
            <xs:enumeration value="27"/>
            <xs:enumeration value="13"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="COLOR" use="optional"/>
  </xs:complexType>
</xs:schema>